html {
	height: 100%;
}

body {
	padding: 20px;
	background: #fff;
}

body, input, select {
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
}

table td {
	padding-bottom: 4px;
}

h2 {
	margin : 0;
	padding: 0 0 10px 0;
}

a {
	color: #8399A6;
}

#exampleVIII {
	display: inline-block;
	width: 180px;
	text-align: center;
	cursor: pointer;
	background: url('../../../Downloads/calendar-eightysix-v1.00/img/shading.png');
	padding: 5px;
}

input, select {
	text-align: center;
	background-color: white;
	border: 1px solid;
	border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	padding: 2px;
	vertical-align: bottom;
	width: 66px;
	height: 14px;
}
select {
	width: auto;
	padding: 1px;
	height: 20px;
	text-align: left;
}
input:focus, input:hover, select:focus, select:hover  {
	border-color: #5794bf #b7d5ea #c7e2f1 #c5daed;
}

.picker {
	cursor: pointer;
	width: 13px;
	height: 12px;
	display: inline-block;
	background: url('../../../Downloads/calendar-eightysix-v1.00/img/calendar.gif') no-repeat;
	margin-left: -19px;
	margin-top: 4px;
	position: absolute;
	display: inline;
}